footer {
    height: 630px;
    margin: 0 250px;
    font-family: 'Gilroy-Regular';
 }

.footer {
    background: #CFF3FF; 
    width: 1397px;
    height: 155px;
    left: 261px;
    top: 813px;
    display: flex;
    justify-content: center;
}

.footer_menu {
    font-size: 12px;
    text-align: left;
    flex-grow: 3;
}

.footer_news_today {
    font-size: 10px;
    margin-top: 30px;
    color: #9e9d9d;
    flex-grow:1;
}

.footer_phone_number {
    top: 30px;
    flex-grow: 2;
    display: flex;
    flex-direction:column;
}

.footer_logo_news {
    flex-grow:1;
    top: 15px;
    height: auto;
    width: 180px;
}

.footer_phone_number_digits {
    font-size: 21px;
    height: 8px;
}

.footer_phone_number_words {
    font-size: 12px;
}